<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contat-me</title>
</head>
<body>
    I am Khouloud 
    <br>
     a dedicated web developer, I'm driven by the art of crafting engaging digital experiences. 
     <br>
     Immersed in the ever-evolving landscape of web development, I blend creativity, technical expertise,
     and an unwavering commitment to excellence into every project.

</body>
</html>