<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('../css/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <title>Khouloud Sahmoune | fs</title>
</head>
<body>
    <header>
      <nav>
        <div class="logo">
             Khouloud Sahmoune
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="{{path('resume')}}">About me</a></li>
            <li><a href="{{path('contact')}}"  class="ctt">Contact</a></li>
        </ul>
      </nav>
    </header>
    <div id="blur-wrapper">
             <div class="ldg">
            Hello folks, welcome to my world! 
            It's me, <br>
            <div class="container">
                <div class="name">Khouloud Sahmoune .</div>   <br>   
            </div>
            <div class="ct"> I am a web developer. </div>
            <div class="chg">
                <a href='#' class="bouton px-4" ><section >Discover My Work</section></a>
            </div>
        </div>
    </div>
</body>
</html>