body, html { 
    background-color:black;
}

#starship {
    position: relative;
    width: 100%;
    height: 100vh;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative; 
    width: 5px;
    height: 6px;
    background: #ACC8E5;
    margin: 0 30px;
    margin-top: 4px;
    border-radius: 50%;
    box-shadow: 0 0 10px #ACC8E5,
                0 0 20px #ACC8E5,
                0 0 30px #ACC8E5;
    animation: animate 15s linear infinite;
    animation-duration: calc(90s /var(--i));

}

.bubbles span:nth-child(even){
    background: #fafefe;
    box-shadow: 0 0 10px #fafefe,
                0 0 20px #fafefe,
                0 0 30px #fafefe;
}

@keyframes animate {
    0% {
        top: 100vh;
    }
    100% {
        top: -10px; 
    }
}

@media screen and (max-width: 1800px) {

    .bubbles span{

        margin: 0 25px;
    }
}
@media screen and (max-width: 1600px) {

    .bubbles span{

        margin: 0 30px;
    }
}
@media screen and (max-width: 1200px) {
    .bubbles span{

        margin: 0 25px;
    }
}
@media screen and (max-width: 1000px) {

    .bubbles span{

        margin: 0 20px;
    }
}
@media screen and (max-width:800px) {
   
    .bubbles span{
        margin: 0 15px;
    }
}
@media screen and (max-width:700px) {
 
    .bubbles span{
      
        margin: 0 12px;
    }
}
.form-ctnr{
    background-color:rgb(0,0,0,0.8);
    color: #112A46;
    font-family: 'poppins',sans-serif;
    letter-spacing: 2px;
    border: 1px #e9edf1 solid;
    display: grid;
    position: relative;
    z-index: 1;
    /* box-shadow: 0 0 10px #e9edf1; */
    height: 60%;
}
input{
    margin-right: 60px;
}
.image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    color:#e9edf1 ;

}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
}

h1{
 padding-left: 0.5rem;
}
.custom_fm{
    background-color:#fafefe;
}
.btn{
    background-color: indigo;
    border: 0;
    margin-left: 30%;
    /* padding-left: 1rem; */
}
.btn:hover{
    background-color: #3A006F;
}
.quote{
    padding-top: 5%;
    letter-spacing: 2px;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 2s steps(18) forwards;
}

@keyframes typing {
    to {
        width: 80%;
    }
}
.err li{
    list-style-type: none;
    font-size: small;
    color: red;
}
