body {
    background-image: url(../assets/capture.png);
    min-height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(46, 45, 46, 0.7);
    backdrop-filter: blur(2px);
}

#blur-wrapper { 
    display: flex;
    align-items: center;
    justify-content: center;
}

span{
    color: #fafafe;
    font-weight: bolder;
}
body {
    margin: 0;
    font-family: "lora", sans-serif;
}
header {
    color: #fff;
    padding: 20px 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 1.5em;
    padding-left: 4rem;
    font-size: 30px;

}
ul {
    list-style-type: none;
    /* margin: 1rem;
    padding: 1rem; */
    padding-right: 2rem;
    display: flex;
}
li {
    margin: 0 30px;
    font-size: 25px;
}
a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .logo {
        margin-bottom: 10px;
    }
    ul {
        flex-direction: column;
    }
    li {
        margin: 5px 0;
    }
}

.ldg {
    color:  #fafefe;
    font-size: 36px;
    text-align: center;
    /* justify-content: center;
    font-weight: bold;
    flex-direction: row; */

    margin-top:8%;
}

section 
{
    display: inline;
    
}
.bouton {
    position: relative;
    color: #fafefe;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding: 10px 30px 10px 30px;
    transition: 0.5sec;
    background-color: #643173;
    font-weight:bolder;
    border-radius: 8px;
}
.bouton:hover{
    background-color: #3C1F42;
}

.chg{
    margin-top: 10%;
}
.container{
    display: inline-block;
    
}
.name {

    font-size: 35px;
    letter-spacing: 10px;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 2rem;
    animation: typing 8s steps(20) infinite alternate;
    color: #fafafe; 

}



@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%; 
    }
}
.ct{
    font-size: 25px;
    padding-top:0;
}