<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../css/resume.css">

    <title>about-me</title>
</head>
<body>
    {# I am Khouloud 
    <br>
     a dedicated web developer, I'm driven by the art of crafting engaging digital experiences. 
     <br>
     Immersed in the ever-evolving landscape of web development, I blend creativity, technical expertise,
     and an unwavering commitment to excellence into every project.
   <a href="/cv/SAHMOUNE_KHOULOUD.pdf" class="btn btn-primary">Download PDF</a> #}



</body>
</html>